<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hygge Workchat</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="loading">
        <img src="/icon/loading.gif" alt="Loading...">
    </div>                
    <div class="content" style="display: none;">
        <div class="navbar">
            <img src="/Image/nvbar.jpg">
            <div class="navbar-filter"></div>
            <div class="userstatus" >
                <div class="userpic" >
                    <img src="">
                </div>
                <div class="colorball" >
                    <img src="/icon/status/green-status.png">
                </div>
                <div class="username"></div>  
                <select class="status-select">
                    <option value="available">Available</option>
                    <option value="busy">Busy</option>
                    <option value="away">Away</option>
                    <option value="offline">Offline</option>
                </select>
            </div>
            <div class="itemssession">
                <div class="items">
                    <div class="item" href="#" id="index-link">
                        <img src="/icon/nav/home.png" alt="Index">
                    </div>
                    <div class="item" href="#" id="profiles-link">
                        <img src="/icon/nav/profile.png" alt="Profiles">
                    </div>
                    <div class="item" href="#" id="chat-link">
                        <img src="/icon/nav/chat.png" alt="Chat">
                    </div>
                    <div class="item" href="#" id="document-link">
                        <img src="/icon/nav/document.png" alt="Document">
                    </div>
                </div>
            </div>       
        </div>
    </div>
    <script type="module"src="/js/index.js"></script>
</body>
</html>

